@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

.App {
  font-family: Roboto;
  max-width: 70%;
  margin: auto;
}

@media screen and (max-width: 678px) {
  .App {
    max-width: 100%;
  }
}

input,
textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 2px;
  font-family: inherit;
  box-shadow: inset 3px 3px #555, inset -3px -3px #555, inset 4px 4px teal,
    inset -4px -4px teal, 1px 2px 0 #aeaeae;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-end;
  margin: 1em 0;
  border-color: teal;
}

legend {
  box-sizing: border-box;
  background: teal;
  color: #fff;
  width: 100%;
  padding: 0.2rem 1em;
}

button.save {
  background: green;
  color: #fff;
  border: none;
  padding: 0.3rem 1em;
  border-radius: 2px;
  font-size: 1.2em;
  cursor: pointer;
}

.output {
  padding: 1em;
}
